<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `link` tags, or asynchronously
        on the client using a solution like AMD (RequireJS).  Or, if you like, you can
        take advantage of Sails' boilerplate asset management.

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically.  Both CSS (.css) and LESS (.less) are supported.
        In production, your styles will be minified and concatenated into a single file.

        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/animate.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap-social.css">
    <link rel="stylesheet" href="/linker/styles/circular-slider.min.css">
    <link rel="stylesheet" href="/linker/styles/font-awesome.css">
    <link rel="stylesheet" href="/linker/styles/framework.css">
    <link rel="stylesheet" href="/linker/styles/menu.css">
    <link rel="stylesheet" href="/linker/styles/owl.theme.css">
    <link rel="stylesheet" href="/linker/styles/style.css">
    <link rel="stylesheet" href="/linker/styles/swipebox.css">
    <!--STYLES END-->


    <!--aSCRIPTS-->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>

    <script src="/linker/scripts/custom.js"></script>
    <script src="/linker/scripts/framework.plugins.js"></script>
    <script src="/linker/scripts/circular-slider.min.js"></script>
    <script src="/linker/scripts/tinycolor-0.9.15.min.js"></script>
    <!--aSCRIPTS END-->

  </head>

  <body>
	<div id="preloader">
	<div id="status">
		<p class="center-text">
			Loading the content...
	        <em>Loading depends on your connection speed!</em>
	    </p>
	</div>
	</div>


<div class="all-elements">
<div id="perspective" class="perspective effect-airbnb"><!--this houses the entire page, and creates the effect-->
    <div class="header">
        <a href="#" id="showMenu"><i class="fa fa-navicon"></i></a>
        <a href="#" id="pageLogo"><img src="/linker/images/logo.png" alt="img"></a>
        <a href="#" id="openMail"><i class="fa fa-envelope-o"></i></a>
    </div>
    <div class="outer-nav">
        <div class="inner-nav">
            <div class="nav-item">
                <a href="/" class="active-item">
                    <i class="nav-icon fa fa-home"></i>
                    Home
                </a>
            </div>
            <div class="nav-item">
                <a href="#" class="deploy-nav-sub-item">
                    <i class="nav-icon fa fa-cog"></i>
                    Moods
                </a>
                <div class="nav-sub-item">
                    <a href="/mood/index">Current Mood</a>
                    <a href="/mood/list">History</a>
                </div>
            </div>

            <% if (session.authenticated) { %>
            <div class="nav-item">
                <a id="closeMenu" href="/session/destroy">
                    <i class="nav-icon fa fa-times"></i>
                    Close
                </a>
            </div>
            <% } else { %>
            <div class="nav-item">
                <a id="closeMenu" href="/session/create">
                    <i class="nav-icon fa fa-times"></i>
                    Login
                </a>
            </div>
            <div class="nav-item">
                <a id="closeMenu" href="/user/create">
                    <i class="nav-icon fa fa-times"></i>
                    Register
                </a>
            </div>
            <% } %>
        </div>
    </div>

    <div class="perspective_container"><!--the "moving to the left" content box-->
        <div class="wrapper"><!-- wrapper needed for scroll -->
			<div class="content">

	    		<%- body %>

			    <div class="footer-section">
			        <p class="footer-text">
			            Copyright 2014.<br>
			            All rights reserved.
			        </p>
			        <div class="footer-icons">
			            <a href="#" class="footer-facebook-icon"><i class="fa fa-facebook"></i></a>
			            <a href="#" class="footer-google-icon"><i class="fa fa-google-plus"></i></a>
			            <a href="#" class="footer-twitter-icon"><i class="fa fa-twitter"></i></a>
			            <a href="#" class="footer-up-icon"><i class="fa fa-angle-up"></i></a>
			        </div>
			    </div>
		    </div>

        </div><!-- wrapper -->
    </div><!-- /perspective container -->
</div><!-- /perspective -->

    </div>


    <!--
        Client-side Templates
        ========================

    		HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically.

        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your templates using a server-side stringfile
              before they're served.
    -->

    <script src="/linker/scripts/menu.js"></script>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

  </body>
</html>
