<div class="decoration"></div>
<div class="one-half-responsive">
    <h4>Create user</h4>
    <p>Fill out the form below</p>
    <div class="container no-bottom">
        <div class="contact-form no-bottom"> 
            <div class="formSuccessMessageWrap" id="formSuccessMessageWrap">
                <div class="big-notification green-notification">
                    <h3 class="uppercase">Message Sent </h3>
                    <a href="#" class="close-big-notification">x</a>
                    <p>Your message has been successfuly sent. Please allow up to 48 hours for a reply! Thank you!</p>
                </div>
            </div>
        
            <form action="/user/store" method="post" class="contactForm" id="form">
                <fieldset>
                    <div class="formFieldWrap">
                        <label class="field-title contactNameField" for="contactNameField">Name:<span>(required)</span></label>
                        <input id="username" name="username" type="text" placeholder="User Name" class="contactField requiredField" required="" value="oscar" />    
                    </div>
                    <div class="formFieldWrap">
                        <label class="field-title contactEmailField" for="contactEmailField">Email: <span>(required)</span></label>
                        <input id="password" name="password" type="password" placeholder="Password" class="contactField requiredField" required="" value="oscar" />    
                    </div>
                    <div class="formSubmitButtonErrorsWrap">
                        <input type="submit" class="buttonWrap button button-green contactSubmitButton" id="contactSubmitButton" value="ENTER" data-formId="contactForm"/>
                    </div>
                </fieldset>
            </form>       
        </div>
    </div>
</div>

<div class="decoration"></div>