
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" method="POST" action="/mood/store"> 
			<fieldset>
				<legend>¿Cómo te encuentras?</legend>

				<div class="form-group">
				  <label class="col-md-4 control-label" for="title">Cuéntamelo...</label>  
				  <div class="col-md-4">
					  <input id="title" name="title" type="text" placeholder="Cansado, alegre, deprimido..." class="form-control input-md">
				  </div>
				</div>

				<div class="form-group">
				  <label class="col-md-4 control-label" for="body">¿Quieres contar algo mas?</label>
				  <div class="col-md-4">                     
				    <textarea class="form-control" id="body" name="body"></textarea>
				  </div>
				</div>

				<div class="form-group">
				  <label class="col-md-4 control-label" for="mood">Dale un color...</label>  
				  <div class="col-md-4">
					  <input type="text" value="" name="mood" class="pick-a-color form-control">
				  </div>
				</div>

		    	<input type="submit" class="btn btn-primary js-submit">
	  	</form>                        
    </div>
</div>

<script>  
  $( document ).ready(function() {
      $(".pick-a-color").pickAColor({
      	showAdvanced: false,
      	showHexInput: false,
      	allowBlank: false,
      	inlineDropdown: false
      });
  });
</script>
