
<div class="row">
    <div class="col-md-12">
        <h1>¡Guardado!</h1>
        <h2>Has guardado tu estado, ahora... ¿Quieres compartirlo?...</h2>
        <p>
        	[<%=data%>]
        <br /><br />
        	<a class="btn btn-block btn-social btn-facebook">
            	<i class="fa fa-facebook"></i> Compartir en Facebook
          	</a>
          	<a class="btn btn-block btn-social btn-twitter">
            	<i class="fa fa-twitter"></i> Compartir en Twitter
          	</a>
          	<a class="btn btn-block btn-social btn-instragram">
            	<i class="fa fa-instragram"></i> Compartir en Instagram
          	</a>
          	<a class="btn btn-block btn-social btn-pinterest">
            	<i class="fa fa-pinterest"></i> Compartir en Pinterest
          	</a>
        </p>

    </div>
</div>
