<div class="decoration"></div>
<div class="one-half-responsive">
    <div class="container no-bottom">

    <div class="detected-wrapper">
      <img src="/linker/images/logo.png" alt="img">
      <p>
          Share your mood!
      </p>
    </div>
    <div class="decoration"> </div>


	<% if (!session.authenticated) { %>
		<p><a class="btn btn-lg btn-success" href="/user/create" role="button">Create an account</a></p>
	<% } %>

  </div>
  </div>
</div>
