<div class="col-md-12">
  <div class="jumbotron">
    <h2 class="">Moods</h2>
    <p>Share your mood!</p>
    <p><a class="btn btn-lg btn-success" href="/user/create" role="button">Create an account to start using the app.</a></p>
  </div>
</div>
