<form class="form-horizontal" method="POST" action="/room/store">
<fieldset>
<legend>New Room</legend>

<div class="form-group">
  <label class="col-md-4 control-label" for="roomname">Room Name</label>  
  <div class="col-md-4">
  <input id="roomname" name="roomname" type="text" placeholder="Room Name" class="form-control input-md" required="">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="latitude">Latitude</label>  
  <div class="col-md-4">
  <input id="latitude" name="latitude" type="text" placeholder="Latitude" class="form-control input-md" required="">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="longitude">Longitude</label>  
  <div class="col-md-4">
  <input id="longitude" name="longitude" type="text" placeholder="Longitude" class="form-control input-md" required="">
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Create</button>
  </div>
</div>

</fieldset>
</form>